*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'MuseoModerno', cursive;
}

body{
    width: 100%;
    height: 100vh;

    background-color: #1a1a1a;
}

header{
    align-items: center;
    width: 100%;
    height: 70px;
    background-color: #101010;
    box-shadow: 0px 5px 20px #000;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.menu{
    list-style: none;
    display: flex;
    flex-wrap: wrap;
}

.menu li a{
    color: #fff;
    display: block;
    text-decoration: none;
    padding: 10px 20px 10px 20px;
    border-radius: 10px;
    margin-left: 10px;
}

.menu li a:hover{
    color: #fff;
    display: block;
    text-decoration: none;
    background-color: #333;
    margin-left: 10px;
}

.logo{
    width: 50px;
    height: 50px;
    border-radius: 10px;
    background-color: #ccc;
}

h1{
    color: #fff;
    text-align: center;
    margin: 30px;
}

/* CSS GRID LAYOUT */
.container{
    max-width: 1200px;
    margin: 0 auto;
    border: 0px solid #fff;

    display: grid;
    grid-template-areas:
    "sidenav item item "
    "sidenav item item "
    "sidenav item item "
    "footer footer footer"
}

img{
    width: 100%;
    border-radius: 20px;
}


.sidenav{
    width: 300px;
    height: 700px;
    background-color: #333;
    border-radius: 20px;
}

.item{
    width: 300px;
    height: 300px;
    background-color: #333;
    border-radius: 20px;
}

.footer{
    width: auto;
    height: 300px;
    background-color: #333;
    border-radius: 20px;
}
